/* Stylowanie tekstu */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #4d4848;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5);
}

h1 {
  background: linear-gradient(to right, #f4af94, #250250);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#linear {
  text-align: center;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.container {
  text-align: center;
  font-size: 20;
  color: #5711d8;
  font-weight: bold;
  animation: slide-in 1s ease-in-out;
}

.figure-container {
  display: flex;
  align-items: center;
}

.figure {
  max-width: 50%;
  margin-right: 20px;
}
